<li id="<%= feed_item.id %>" xmlns="http://www.w3.org/1999/html">
  <span class="user">
<a href="/events/<%= feed_item.id %>"> <%= feed_item.name %>    </a>
</span>
  </br>
  <span class="content"><%= feed_item.description %></span>
<span class="timestamp">
posted <%= time_ago_in_words(feed_item.created_at) %> ago.
</span>
</li>