<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <style>

        #map-canvas {
            height: 350px;
            width: 50%;

            margin-top: 0.6em;
        }
        input {
            border: 1px solid  rgba(0, 0, 0, 0.5);
        }
        input.notfound {
            border: 2px solid  rgba(255, 0, 0, 0.4);
        }
    </style>
    <script>
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(-33.8688, 151.2195),
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            var input = document.getElementById('event_location');
            var autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map
            });


            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                infowindow.close();
                marker.setVisible(false);
                input.className = '';
                var place = autocomplete.getPlace();
                console.log(place.formatted_address);
                if (!place.geometry) {
                    // Inform the user that the place was not found and return.
                    input.className = 'notfound';
                    return;
                }

                var lat;
                var lng;
                var text;

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    lat = place.geometry.location.lat();
                    lng = place.geometry.location.lng();
                    map.fitBounds(place.geometry.viewport);
                } else {
                    lat = place.geometry.location.lat();
                    lng = place.geometry.location.lng();
                    map.setCenter(place.geometry.location);

                    map.setZoom(17);  // Why 17? Because it looks good.
                }

                document.getElementById('event_latitude').value = lat;
                document.getElementById('event_longitude').value = lng;
                text = document.getElementById('event_longitude').value ;


                var image = {
                    url: place.icon,
                    size: new google.maps.Size(100, 100),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(35, 35)
                };
                marker.setIcon(image);
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);
            });

        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
    <div class="field" style="display: none;">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>

    <div id= "map-canvas">

    </div>

  <div class="field">
    <%= f.label :menu %><br />
    <%= f.text_field :menu %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field" style ="vertical-align: top;
          line-height: 25px;
          font-size: 125%;
          margin-top:-10px;
          ">
    <%= f.label :time , :style => "margin-bottom:-10px" %><br />
    <%= f.datetime_select :time %>
  </div>
  
  <div>
    <%= f.submit 'Create Event', :class => "btn btn-primary large" %>
  </div>
<% end %>
